@mixin display($display, $justify, $align){
    display: $display;
    justify-content: $justify;
    align-items: $align;
}

@mixin tableContent($background, $border, $color,){
    text-shadow: 1px 1px 5px black;            
    background-color: $background;
    border: 1px solid $border;
    color: $color;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}